.nav>li {font-size: 14px;font-weight: bold;}
input.radio-input[type="checkbox"], input.radio-input[type="radio"]{margin: 0 10px;}
.form-group.label-static label.control-label.radio-label, .form-group.label-floating.is-focused label.control-label.radio-label, .form-group.label-floating:not(.is-empty) label.control-label.radio-label{font-size: 14px;}
.login-div{width: 100%;}
.card form [class*="col-"]{padding: 0 15px;}
.form-group label.control-label{font-size: 14px;}
.form-group .form-control {margin-bottom: 0;}
.form-group.radio-div {margin: 37px 0 0 0;}
.dropdown-menu a {margin: 0 10px;display: block;border-bottom: 1px solid #eee;padding: 8px 0;}
.checkbox .checkbox-material::before {top:0;}
.checkbox, .radio {position: relative;display: block;margin-top: 20px;margin-bottom: 10px;}
footer {padding: 5px 0;}
.footer p{margin: 0;}
.sidebar .nav i, .off-canvas-sidebar .nav i {font-size: 20px;float: left;margin-right: 15px;line-height: 30px;width: 30px;text-align: center;color: #a9afbb;position: relative;top: -5px;}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {background-color: #4caf50;color: #FFFFFF;}
.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary{   box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);}
.form-group.is-focused .form-control {outline: none;background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);background-size: 100% 2px, 100% 1px;box-shadow: none;transition-duration: 0.3s;}
@font-face {
    font-family: 'icomoon';
    src:  url('../font/icomoon.eot?m5o9qo');
    src:  url('../font/icomoon.eot?m5o9qo#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?m5o9qo') format('truetype'),
    url('../font/icomoon.woff?m5o9qo') format('woff'),
    url('../font/icomoon.svg?m5o9qo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-factory-stock-house:before {content: "\e900";}
.icon-category:before {content: "\e901";}
.icon-user-silhouette:before {content: "\e902";}
.icon-web:before {content: "\e903";}
.icon-delivery-man:before {content: "\e904";}
.category a{color: #4caf50;}
.navbar .dropdown-menu li a:hover{background-color: #4caf50;}
.selectinpt{padding: 6px;margin-top: 10px;width: 100%;border: 1px solid #d2d2d2;}
.rdobtnwidth{display: inline-block;width: 23%;padding: 4px 0;}
.widthupdate{width: 29%;}
.menusitem{right: 6%;left: 6%;}
.checkbox label {color: #4caf50;padding-top: 0;}
.grencolor{color:#43a047;}
.assignedbtnbg,.assignedbtnbg:hover{background-color: #a6c;}
dl dt , dl dd {margin-bottom: 12px;}
.modal.fade .modal-dialog {
        opacity: 0;
        -webkit-transform: scale(0.1);
            -ms-transform: scale(0.1);
             -o-transform: scale(0.1);
                transform: scale(0.1);
        -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
             -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }

    .modal.fade.in .modal-dialog {
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    } 

.input-sm:focus{box-shadow: none; background-image: none; border-bottom: 2px solid #4caf50;}
.table .td-actions{padding: 0; display: table-cell;}
/*.itemwidth{width: 25%; text-align: center;}
.tabbgcolor{background-color: #4caf50;}
.itemwidth:hover{background-color:#70bf73;}*/